<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="css/Login.css">
</head>
<body>
    <div class="main">
        <div class="left">
            <img src="images/man_standing.jpg" alt="man" class="man">
        </div>
        <div class="right">
            <div class="login">
                <img src="images/logo png no slogan.png" alt="logo" class="logo">
                <p class="wlcm-text">Welcome back !!!</p>
                <p class="login-text">Login</p>
                <form action="/home" method="post">
                    <label for="email" class="text-1">Email : </label><br>
                    <input type="email" name="email" placeholder="abcd@gmail.com" class="input-box"><br><br>
                    <label for="password" class="text-1">Password : </label><br>
                    <input type="password" name="password" placeholder="********" class="input-box"><br><br>
                    <input type="submit" class="submit" value="Submit">
                </form>
                <p class="alrdy">Don't have an account? <a href="/signUp" class="sign-up">Sign Up</a></p>
                
            </div>
        </div>
    </div>
</body>
</html>